[submodule "app/static/externals/geoext"]
	path = app/static/externals/geoext
	url = https://github.com/opengeo/GeoExt.git
[submodule "app/static/externals/gxp"]
	path = app/static/externals/gxp
	url = https://github.com/opengeo/gxp.git
[submodule "app/static/externals/openlayers"]
	path = app/static/externals/openlayers
	url = https://github.com/openlayers/openlayers.git
[submodule "server/geoserver"]
	path = server/geoserver
	url = git://github.com/opengeo/geoserver.git
[submodule "server/geoserver-geoscript-js"]
	path = server/geoserver-geoscript-js
	url = git://github.com/tschaub/geoserver-geoscript-js.git
[submodule "server/geotools-wfs2"]
	path = server/geotools-wfs2
	url = git://github.com/groldan/geotools.git
[submodule "server/geoserver-gss"]
	path = server/geoserver-gss
	url = git://github.com/groldan/geoserver_trunk.git
