/* setting font fixes combobox rendering issues in IE. See
 * http://extjs.com/forum/showthread.php?t=72505 */
body {
    font-family:helvetica,tahoma,verdana,sans-serif;
}

/* don't wrap lines on any tooltips */
.x-tip {
    white-space: nowrap;
}

/* application css goes here */

.olControlAttribution {
    font-size: 9px;
    bottom: 2px;
}

.x-btn .gxp-icon-save, .x-menu-item .gxp-icon-save {
    background-image: url(img/silk/disk.png);
}

.x-btn .gxp-icon-open, .x-menu-item .gxp-icon-open {
    background-image: url(img/silk/folder.png);
}
