/* setting font fixes combobox rendering issues in IE. See
 * http://extjs.com/forum/showthread.php?t=72505 */
body {
    font-family:helvetica,tahoma,verdana,sans-serif;
}

/* don't wrap lines on any tooltips */
.x-tip {
    white-space: nowrap;
}

/* application css goes here */

.map-overlay {
    bottom: 2px;
    left: 10px;
    right: inherit !important;
}

.olControlAttribution {
    bottom: 2px;
    font-size: 9px;
    text-align: right;
}

.x-btn .gxp-icon-save, .x-menu-item .gxp-icon-save {
    background-image: url(img/silk/disk.png);
}

.x-btn .gxp-icon-open, .x-menu-item .gxp-icon-open {
    background-image: url(img/silk/folder.png);
}

.x-btn .gxp-icon-search, .x-menu-item .gxp-icon-search { 
    background-image: url(img/silk/find.png);
}

.x-btn .gxp-icon-queue, .x-menu-item .gxp-icon-queue {
    background-image: url(img/silk/error_go.png);
}

.x-action-col, .gxp-icon-zoomtofeature {
    background-image: url(img/silk/magnifier.png);
    width: 16px;
    height: 16px;
}

.app-exception-text p {
    font-size: 1.2em;
    padding-bottom: 5px;
}
